<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>2200.gif</string>
		<key>phrase</key>
		<string>[笑抽了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2201.gif</string>
		<key>phrase</key>
		<string>[嚎啕大哭]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2202.gif</string>
		<key>phrase</key>
		<string>[淡定]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2203.gif</string>
		<key>phrase</key>
		<string>[仰慕你哦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2204.gif</string>
		<key>phrase</key>
		<string>[加勒个油]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2205.gif</string>
		<key>phrase</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2206.gif</string>
		<key>phrase</key>
		<string>[无语]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2207.gif</string>
		<key>phrase</key>
		<string>[偷着乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2208.gif</string>
		<key>phrase</key>
		<string>[讨厌啦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2209.gif</string>
		<key>phrase</key>
		<string>[困死啦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2210.gif</string>
		<key>phrase</key>
		<string>[抠鼻屎]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2211.gif</string>
		<key>phrase</key>
		<string>[吃货]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2212</string>
		<key>phrase</key>
		<string>[购物狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2213</string>
		<key>phrase</key>
		<string>[悔恨]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2214</string>
		<key>phrase</key>
		<string>[装可爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2215</string>
		<key>phrase</key>
		<string>[御风而行]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2216</string>
		<key>phrase</key>
		<string>[天马流星拳]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2217</string>
		<key>phrase</key>
		<string>[群舞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2218</string>
		<key>phrase</key>
		<string>[喷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2219</string>
		<key>phrase</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2220</string>
		<key>phrase</key>
		<string>[气死你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2221</string>
		<key>phrase</key>
		<string>[努力]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2222</string>
		<key>phrase</key>
		<string>[要抱抱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2223</string>
		<key>phrase</key>
		<string>[我无语了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2224</string>
		<key>phrase</key>
		<string>[无聊啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2225</string>
		<key>phrase</key>
		<string>[送礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2226.gif</string>
		<key>phrase</key>
		<string>[笑抽了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2227.gif</string>
		<key>phrase</key>
		<string>[嚎啕大哭]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2228.gif</string>
		<key>phrase</key>
		<string>[淡定]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2229.gif</string>
		<key>phrase</key>
		<string>[仰慕你哦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2230.gif</string>
		<key>phrase</key>
		<string>[抠鼻屎]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2231.gif</string>
		<key>phrase</key>
		<string>[无语]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2232.gif</string>
		<key>phrase</key>
		<string>[加勒个油]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2233.gif</string>
		<key>phrase</key>
		<string>[讨厌啦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2234.gif</string>
		<key>phrase</key>
		<string>[偷着乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2235.gif</string>
		<key>phrase</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2236.gif</string>
		<key>phrase</key>
		<string>[困死啦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2237.gif</string>
		<key>phrase</key>
		<string>[吃货]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2238</string>
		<key>phrase</key>
		<string>[抓狂了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2239</string>
		<key>phrase</key>
		<string>[赞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2240</string>
		<key>phrase</key>
		<string>[志得意满]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2241</string>
		<key>phrase</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2242</string>
		<key>phrase</key>
		<string>[禁声]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2243</string>
		<key>phrase</key>
		<string>[闹]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2244</string>
		<key>phrase</key>
		<string>[汗]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2245</string>
		<key>phrase</key>
		<string>[不好意思]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2246</string>
		<key>phrase</key>
		<string>[被欺负]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2247</string>
		<key>phrase</key>
		<string>[变色]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2248</string>
		<key>phrase</key>
		<string>[我的钱啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2249</string>
		<key>phrase</key>
		<string>[兔子舞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2250</string>
		<key>phrase</key>
		<string>[无精打采]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2251</string>
		<key>phrase</key>
		<string>[百无聊赖]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2252</string>
		<key>phrase</key>
		<string>[傻笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2253</string>
		<key>phrase</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2254</string>
		<key>phrase</key>
		<string>[惊喜]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2255</string>
		<key>phrase</key>
		<string>[害怕]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2256</string>
		<key>phrase</key>
		<string>[悔恨]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2257</string>
		<key>phrase</key>
		<string>[开心]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2258</string>
		<key>phrase</key>
		<string>[发泄]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2259</string>
		<key>phrase</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2260</string>
		<key>phrase</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2261</string>
		<key>phrase</key>
		<string>[惊诧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2262</string>
		<key>phrase</key>
		<string>[笑死了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2263</string>
		<key>phrase</key>
		<string>[我无语了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2264</string>
		<key>phrase</key>
		<string>[无聊啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2265</string>
		<key>phrase</key>
		<string>[你死定了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2266</string>
		<key>phrase</key>
		<string>[好开心]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2267</string>
		<key>phrase</key>
		<string>[表欺负我]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2268</string>
		<key>phrase</key>
		<string>[扮鬼脸]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2269</string>
		<key>phrase</key>
		<string>[看海]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2270</string>
		<key>phrase</key>
		<string>[崭新的一天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2271</string>
		<key>phrase</key>
		<string>[舒坦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2272</string>
		<key>phrase</key>
		<string>[无聊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2273</string>
		<key>phrase</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2274</string>
		<key>phrase</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2275</string>
		<key>phrase</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2276</string>
		<key>phrase</key>
		<string>[不要不要]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2277</string>
		<key>phrase</key>
		<string>[休息一下]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2278</string>
		<key>phrase</key>
		<string>[想念你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2279</string>
		<key>phrase</key>
		<string>[努力]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2280</string>
		<key>phrase</key>
		<string>[就是你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2281</string>
		<key>phrase</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2282</string>
		<key>phrase</key>
		<string>[行大礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2283</string>
		<key>phrase</key>
		<string>[挖鼻孔]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2284</string>
		<key>phrase</key>
		<string>[茫然]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2285</string>
		<key>phrase</key>
		<string>[喷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2286</string>
		<key>phrase</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2287</string>
		<key>phrase</key>
		<string>[打游戏]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2288</string>
		<key>phrase</key>
		<string>[信菇哥]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2289</string>
		<key>phrase</key>
		<string>[御风而行]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2290</string>
		<key>phrase</key>
		<string>[天马流星拳]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2291</string>
		<key>phrase</key>
		<string>[梦露]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2292</string>
		<key>phrase</key>
		<string>[敬礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2293</string>
		<key>phrase</key>
		<string>[虎]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2294</string>
		<key>phrase</key>
		<string>[上天入地]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2295</string>
		<key>phrase</key>
		<string>[逃跑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2296</string>
		<key>phrase</key>
		<string>[扭一扭]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2297</string>
		<key>phrase</key>
		<string>[扭屁股]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2298</string>
		<key>phrase</key>
		<string>[打打打]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2299</string>
		<key>phrase</key>
		<string>[求领养]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2300</string>
		<key>phrase</key>
		<string>[活活气死你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2301</string>
		<key>phrase</key>
		<string>[平凡的人类]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2302</string>
		<key>phrase</key>
		<string>[拉走]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2303</string>
		<key>phrase</key>
		<string>[集体路过]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2304</string>
		<key>phrase</key>
		<string>[浇花]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2305</string>
		<key>phrase</key>
		<string>[群舞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2306</string>
		<key>phrase</key>
		<string>[数钱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2307</string>
		<key>phrase</key>
		<string>[啃老族]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2308</string>
		<key>phrase</key>
		<string>[靠自己]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2309</string>
		<key>phrase</key>
		<string>[换房子]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2310</string>
		<key>phrase</key>
		<string>[开心农夫]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2311</string>
		<key>phrase</key>
		<string>[发财]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2312</string>
		<key>phrase</key>
		<string>[大生产]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2313</string>
		<key>phrase</key>
		<string>[亲密]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2314</string>
		<key>phrase</key>
		<string>[挑逗]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2315</string>
		<key>phrase</key>
		<string>[气死你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2316</string>
		<key>phrase</key>
		<string>[看什么看]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2317</string>
		<key>phrase</key>
		<string>[蹦跶]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2318</string>
		<key>phrase</key>
		<string>[阿狗]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2319</string>
		<key>phrase</key>
		<string>[志向]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2320</string>
		<key>phrase</key>
		<string>[知足]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2321</string>
		<key>phrase</key>
		<string>[知己]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2322</string>
		<key>phrase</key>
		<string>[鲜花与牛粪]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2323</string>
		<key>phrase</key>
		<string>[幸福]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2324</string>
		<key>phrase</key>
		<string>[幸福与探索]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2325</string>
		<key>phrase</key>
		<string>[虚伪]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2326</string>
		<key>phrase</key>
		<string>[青春]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2327</string>
		<key>phrase</key>
		<string>[荣誉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2328</string>
		<key>phrase</key>
		<string>[借钱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2329</string>
		<key>phrase</key>
		<string>[CG插画]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2330</string>
		<key>phrase</key>
		<string>[当]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2331</string>
		<key>phrase</key>
		<string>[减肥]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2332</string>
		<key>phrase</key>
		<string>[梦想小图]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2333</string>
		<key>phrase</key>
		<string>[难以自拔]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2334</string>
		<key>phrase</key>
		<string>[求婚]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2335</string>
		<key>phrase</key>
		<string>[爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2336</string>
		<key>phrase</key>
		<string>[情人节]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2337</string>
		<key>phrase</key>
		<string>[吻]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2338</string>
		<key>phrase</key>
		<string>[亲一个]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2339</string>
		<key>phrase</key>
		<string>[约个会吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2340</string>
		<key>phrase</key>
		<string>[要抱抱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2341</string>
		<key>phrase</key>
		<string>[我要女朋友]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2342</string>
		<key>phrase</key>
		<string>[送礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2343</string>
		<key>phrase</key>
		<string>[送花]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2344</string>
		<key>phrase</key>
		<string>[人家害羞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2345</string>
		<key>phrase</key>
		<string>[春天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2346</string>
		<key>phrase</key>
		<string>[无精打采]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2347</string>
		<key>phrase</key>
		<string>[百无聊赖]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2348</string>
		<key>phrase</key>
		<string>[傻笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2349</string>
		<key>phrase</key>
		<string>[转晕你的头]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2350</string>
		<key>phrase</key>
		<string>[上天入地]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2351</string>
		<key>phrase</key>
		<string>[逃跑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2352</string>
		<key>phrase</key>
		<string>[前后看]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2353</string>
		<key>phrase</key>
		<string>[扭一扭]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2354</string>
		<key>phrase</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2355</string>
		<key>phrase</key>
		<string>[惊喜]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2356</string>
		<key>phrase</key>
		<string>[害怕]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2357</string>
		<key>phrase</key>
		<string>[奸诈]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2358</string>
		<key>phrase</key>
		<string>[悔恨]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2359</string>
		<key>phrase</key>
		<string>[开心]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2360</string>
		<key>phrase</key>
		<string>[扭屁股]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2361</string>
		<key>phrase</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2362</string>
		<key>phrase</key>
		<string>[发泄]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2363</string>
		<key>phrase</key>
		<string>[钓鱼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2364</string>
		<key>phrase</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2365</string>
		<key>phrase</key>
		<string>[打打打]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2366</string>
		<key>phrase</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2367</string>
		<key>phrase</key>
		<string>[惊诧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2368</string>
		<key>phrase</key>
		<string>[群舞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2369</string>
		<key>phrase</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2370</string>
		<key>phrase</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2371</string>
		<key>phrase</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2372</string>
		<key>phrase</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2373</string>
		<key>phrase</key>
		<string>[强吻]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2374</string>
		<key>phrase</key>
		<string>[亲密]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2375</string>
		<key>phrase</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2376</string>
		<key>phrase</key>
		<string>[顶]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2377</string>
		<key>phrase</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2378</string>
		<key>phrase</key>
		<string>[不要不要]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2379</string>
		<key>phrase</key>
		<string>[浮潜]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2380</string>
		<key>phrase</key>
		<string>[准时睡觉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2381</string>
		<key>phrase</key>
		<string>[看海]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2382</string>
		<key>phrase</key>
		<string>[开心农夫]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2383</string>
		<key>phrase</key>
		<string>[崭新的一天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2384</string>
		<key>phrase</key>
		<string>[再趴会儿]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2385</string>
		<key>phrase</key>
		<string>[送礼物]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2386</string>
		<key>phrase</key>
		<string>[舒坦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2387</string>
		<key>phrase</key>
		<string>[无聊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2388</string>
		<key>phrase</key>
		<string>[亲爱的]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2389</string>
		<key>phrase</key>
		<string>[忙啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2390</string>
		<key>phrase</key>
		<string>[热]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2391</string>
		<key>phrase</key>
		<string>[发财]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2392</string>
		<key>phrase</key>
		<string>[大生产]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2393</string>
		<key>phrase</key>
		<string>[点钱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2394</string>
		<key>phrase</key>
		<string>[抓狂了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2395</string>
		<key>phrase</key>
		<string>[赞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2396</string>
		<key>phrase</key>
		<string>[志得意满]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2397</string>
		<key>phrase</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2398</string>
		<key>phrase</key>
		<string>[行大礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2399</string>
		<key>phrase</key>
		<string>[小悟空]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2400</string>
		<key>phrase</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2401</string>
		<key>phrase</key>
		<string>[挖鼻孔]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2402</string>
		<key>phrase</key>
		<string>[求婚]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2403</string>
		<key>phrase</key>
		<string>[禁声]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2404</string>
		<key>phrase</key>
		<string>[茫然]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2405</string>
		<key>phrase</key>
		<string>[爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2406</string>
		<key>phrase</key>
		<string>[情人节]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2407</string>
		<key>phrase</key>
		<string>[喷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2408</string>
		<key>phrase</key>
		<string>[闹]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2409</string>
		<key>phrase</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2410</string>
		<key>phrase</key>
		<string>[发愤图强]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2411</string>
		<key>phrase</key>
		<string>[鬼脸]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2412</string>
		<key>phrase</key>
		<string>[汗]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2413</string>
		<key>phrase</key>
		<string>[打游戏]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2414</string>
		<key>phrase</key>
		<string>[不好意思]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2415</string>
		<key>phrase</key>
		<string>[被欺负]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2416</string>
		<key>phrase</key>
		<string>[拜托]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2417</string>
		<key>phrase</key>
		<string>[变色]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2418</string>
		<key>phrase</key>
		<string>[约个会吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2419</string>
		<key>phrase</key>
		<string>[要抱抱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2420</string>
		<key>phrase</key>
		<string>[笑死了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2421</string>
		<key>phrase</key>
		<string>[下雪了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2422</string>
		<key>phrase</key>
		<string>[拖走]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2423</string>
		<key>phrase</key>
		<string>[我要女朋友]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2424</string>
		<key>phrase</key>
		<string>[我无语了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2425</string>
		<key>phrase</key>
		<string>[无聊啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2426</string>
		<key>phrase</key>
		<string>[送礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2427</string>
		<key>phrase</key>
		<string>[送花]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2428</string>
		<key>phrase</key>
		<string>[人家害羞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2429</string>
		<key>phrase</key>
		<string>[求领养]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2430</string>
		<key>phrase</key>
		<string>[活活气死你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2431</string>
		<key>phrase</key>
		<string>[平凡的人类]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2432</string>
		<key>phrase</key>
		<string>[你死定了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2433</string>
		<key>phrase</key>
		<string>[拉走]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2434</string>
		<key>phrase</key>
		<string>[就不起床]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2435</string>
		<key>phrase</key>
		<string>[集体路过]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2436</string>
		<key>phrase</key>
		<string>[跟我走吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2437</string>
		<key>phrase</key>
		<string>[好开心]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2438</string>
		<key>phrase</key>
		<string>[浇花]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2439</string>
		<key>phrase</key>
		<string>[春天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2440</string>
		<key>phrase</key>
		<string>[表欺负我]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2441</string>
		<key>phrase</key>
		<string>[温暖]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2442</string>
		<key>phrase</key>
		<string>[我的钱啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2443</string>
		<key>phrase</key>
		<string>[吸血鬼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2444</string>
		<key>phrase</key>
		<string>[信菇哥]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2445</string>
		<key>phrase</key>
		<string>[早操]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2446</string>
		<key>phrase</key>
		<string>[装可爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2447</string>
		<key>phrase</key>
		<string>[自驾游]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2448</string>
		<key>phrase</key>
		<string>[御风而行]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2449</string>
		<key>phrase</key>
		<string>[吻]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2450</string>
		<key>phrase</key>
		<string>[兔子舞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2451</string>
		<key>phrase</key>
		<string>[天天向上]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2452</string>
		<key>phrase</key>
		<string>[天马流星拳]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2453</string>
		<key>phrase</key>
		<string>[山寨]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2454</string>
		<key>phrase</key>
		<string>[神秘]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2455</string>
		<key>phrase</key>
		<string>[求交往]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2456</string>
		<key>phrase</key>
		<string>[认命吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2457</string>
		<key>phrase</key>
		<string>[热血]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2458</string>
		<key>phrase</key>
		<string>[热死了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2459</string>
		<key>phrase</key>
		<string>[琴瑟相合]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2460</string>
		<key>phrase</key>
		<string>[琴瑟相合]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2461</string>
		<key>phrase</key>
		<string>[亲一个]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2462</string>
		<key>phrase</key>
		<string>[梦露]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2463</string>
		<key>phrase</key>
		<string>[埋掉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2464</string>
		<key>phrase</key>
		<string>[敬礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2465</string>
		<key>phrase</key>
		<string>[欢乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2466</string>
		<key>phrase</key>
		<string>[虎]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2467</string>
		<key>phrase</key>
		<string>[购物狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2468</string>
		<key>phrase</key>
		<string>[大厨]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2469</string>
		<key>phrase</key>
		<string>[打你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2470</string>
		<key>phrase</key>
		<string>[不理我]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2471.gif</string>
		<key>phrase</key>
		<string>[想说什么]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2472.gif</string>
		<key>phrase</key>
		<string>[我要长大]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2473.gif</string>
		<key>phrase</key>
		<string>[早安]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2474.gif</string>
		<key>phrase</key>
		<string>[预防艾滋]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2475.gif</string>
		<key>phrase</key>
		<string>[感谢你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2476.gif</string>
		<key>phrase</key>
		<string>[拥抱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2477.gif</string>
		<key>phrase</key>
		<string>[勇敢去爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2478.gif</string>
		<key>phrase</key>
		<string>[单身]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2479.gif</string>
		<key>phrase</key>
		<string>[乐观之剑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2480.gif</string>
		<key>phrase</key>
		<string>[鼓励]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2481.gif</string>
		<key>phrase</key>
		<string>[现在就干]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2482.gif</string>
		<key>phrase</key>
		<string>[旅行]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2483.gif</string>
		<key>phrase</key>
		<string>[起床了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2484.gif</string>
		<key>phrase</key>
		<string>[礼物]</string>
	</dict>
</array>
</plist>
