<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>2034.swf</string>
		<key>phrase</key>
		<string>[天天情人节]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2035.swf</string>
		<key>phrase</key>
		<string>[情人节快乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2036.swf</string>
		<key>phrase</key>
		<string>[情人节]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2037.swf</string>
		<key>phrase</key>
		<string>[浪漫约会]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2038.swf</string>
		<key>phrase</key>
		<string>[告白]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>h5zjG7</string>
		<key>phrase</key>
		<string>[爱你哦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2039.swf</string>
		<key>phrase</key>
		<string>[我爱你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2040.swf</string>
		<key>phrase</key>
		<string>[浪漫中秋]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2041.swf</string>
		<key>phrase</key>
		<string>[生气]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2042.swf</string>
		<key>phrase</key>
		<string>[嗯嗯]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2043.swf</string>
		<key>phrase</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2044.swf</string>
		<key>phrase</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2045.swf</string>
		<key>phrase</key>
		<string>[玉兔迎春]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2046.swf</string>
		<key>phrase</key>
		<string>[新年快乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2047.swf</string>
		<key>phrase</key>
		<string>[新年到]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2048.swf</string>
		<key>phrase</key>
		<string>[看春晚]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2049.swf</string>
		<key>phrase</key>
		<string>[过年回家]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2050.swf</string>
		<key>phrase</key>
		<string>[恭贺新禧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2051.swf</string>
		<key>phrase</key>
		<string>[财运到]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2052.swf</string>
		<key>phrase</key>
		<string>[圣诞飘雪]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>hbCvER</string>
		<key>phrase</key>
		<string>[圣诞快乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2053.swf</string>
		<key>phrase</key>
		<string>[圣诞送礼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2054.swf</string>
		<key>phrase</key>
		<string>[圣诞舞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2055.swf</string>
		<key>phrase</key>
		<string>[男人公式]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>hb8tAQ</string>
		<key>phrase</key>
		<string>[我爸是李刚]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2056.swf</string>
		<key>phrase</key>
		<string>[举个例子]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2057.swf</string>
		<key>phrase</key>
		<string>[千年极寒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2058.swf</string>
		<key>phrase</key>
		<string>[温暖围巾]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>h4jIQB</string>
		<key>phrase</key>
		<string>[手套]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2059.swf</string>
		<key>phrase</key>
		<string>[温暖帽子]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2060.swf</string>
		<key>phrase</key>
		<string>[射门]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2061.swf</string>
		<key>phrase</key>
		<string>[南瓜]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2062.swf</string>
		<key>phrase</key>
		<string>[举重]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2063.swf</string>
		<key>phrase</key>
		<string>[加油]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2064.swf</string>
		<key>phrase</key>
		<string>[拜月]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>h4GEuc</string>
		<key>phrase</key>
		<string>[longestvocate]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2065.swf</string>
		<key>phrase</key>
		<string>[生日祝福]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2066.swf</string>
		<key>phrase</key>
		<string>[KISS]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2067.swf</string>
		<key>phrase</key>
		<string>[愤怒之掷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2068.swf</string>
		<key>phrase</key>
		<string>[yeah]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2069.swf</string>
		<key>phrase</key>
		<string>[心动]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2070.swf</string>
		<key>phrase</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2071.swf</string>
		<key>phrase</key>
		<string>[搞笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2072.swf</string>
		<key>phrase</key>
		<string>[感动]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2073.swf</string>
		<key>phrase</key>
		<string>[猪]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2074.swf</string>
		<key>phrase</key>
		<string>[时尚生活]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2075.swf</string>
		<key>phrase</key>
		<string>[红酒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2076.swf</string>
		<key>phrase</key>
		<string>[新的一天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2077.swf</string>
		<key>phrase</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2078.swf</string>
		<key>phrase</key>
		<string>[生日快乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2079.swf</string>
		<key>phrase</key>
		<string>[兴奋]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2080.swf</string>
		<key>phrase</key>
		<string>[我好凄凉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2081.swf</string>
		<key>phrase</key>
		<string>[愤怒之掷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2082.swf</string>
		<key>phrase</key>
		<string>[yeah]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2083.swf</string>
		<key>phrase</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2084.swf</string>
		<key>phrase</key>
		<string>[高兴]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2085.swf</string>
		<key>phrase</key>
		<string>[不屑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2086.swf</string>
		<key>phrase</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2087.swf</string>
		<key>phrase</key>
		<string>[发泄]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2088.swf</string>
		<key>phrase</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bR5XT</string>
		<key>phrase</key>
		<string>[赐个媳妇吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2089.swf</string>
		<key>phrase</key>
		<string>[我好凄凉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2090.swf</string>
		<key>phrase</key>
		<string>[找点刺激]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2091.swf</string>
		<key>phrase</key>
		<string>[想不通]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2092.swf</string>
		<key>phrase</key>
		<string>[新的一天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2093.swf</string>
		<key>phrase</key>
		<string>[兴奋]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2094.swf</string>
		<key>phrase</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2095.swf</string>
		<key>phrase</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2096.swf</string>
		<key>phrase</key>
		<string>[生气]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2097.swf</string>
		<key>phrase</key>
		<string>[照相]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2098.swf</string>
		<key>phrase</key>
		<string>[偷看]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2099.swf</string>
		<key>phrase</key>
		<string>[让你路过]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2100.swf</string>
		<key>phrase</key>
		<string>[搞笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2101.swf</string>
		<key>phrase</key>
		<string>[猪]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2102.swf</string>
		<key>phrase</key>
		<string>[踩空]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2103.swf</string>
		<key>phrase</key>
		<string>[路过]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2104.swf</string>
		<key>phrase</key>
		<string>[笑死人了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2105.swf</string>
		<key>phrase</key>
		<string>[迟到了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2106.swf</string>
		<key>phrase</key>
		<string>[真乖]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2107.swf</string>
		<key>phrase</key>
		<string>[跟我走吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2108.swf</string>
		<key>phrase</key>
		<string>[嗯嗯]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2109.swf</string>
		<key>phrase</key>
		<string>[吃饭了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bR6v6</string>
		<key>phrase</key>
		<string>[任你处置]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bRtCG</string>
		<key>phrase</key>
		<string>[求领养]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2110.swf</string>
		<key>phrase</key>
		<string>[KISS]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2111.swf</string>
		<key>phrase</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2112.swf</string>
		<key>phrase</key>
		<string>[心动]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2113.swf</string>
		<key>phrase</key>
		<string>[去看灯]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2114.swf</string>
		<key>phrase</key>
		<string>[爱是感觉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2115.swf</string>
		<key>phrase</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2116.swf</string>
		<key>phrase</key>
		<string>[我的爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2117.swf</string>
		<key>phrase</key>
		<string>[一起来海边]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2118.swf</string>
		<key>phrase</key>
		<string>[夏日香气]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>GZzaV</string>
		<key>phrase</key>
		<string>[完美旅行]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2119.swf</string>
		<key>phrase</key>
		<string>[唯美]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2120.swf</string>
		<key>phrase</key>
		<string>[时尚生活]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2121.swf</string>
		<key>phrase</key>
		<string>[去看灯]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>GzDus</string>
		<key>phrase</key>
		<string>[你做什么呢]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2122.swf</string>
		<key>phrase</key>
		<string>[红酒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2123.swf</string>
		<key>phrase</key>
		<string>[动感夏日]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2124.swf</string>
		<key>phrase</key>
		<string>[爱是感觉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2125.swf</string>
		<key>phrase</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2126.swf</string>
		<key>phrase</key>
		<string>[我的爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2127.swf</string>
		<key>phrase</key>
		<string>[偷偷爬上来]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2128.swf</string>
		<key>phrase</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2129.swf</string>
		<key>phrase</key>
		<string>[期待惊喜]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2130.swf</string>
		<key>phrase</key>
		<string>[发泄]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2131.swf</string>
		<key>phrase</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>GUkH7</string>
		<key>phrase</key>
		<string>[钓鱼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2132.swf</string>
		<key>phrase</key>
		<string>[顶石头]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>GUg0N</string>
		<key>phrase</key>
		<string>[打打打]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2133.swf</string>
		<key>phrase</key>
		<string>[踩空]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2134.swf</string>
		<key>phrase</key>
		<string>[不要不要]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2135.swf</string>
		<key>phrase</key>
		<string>[yeah]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2136.swf</string>
		<key>phrase</key>
		<string>[喜欢]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2137.swf</string>
		<key>phrase</key>
		<string>[心动]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2138.swf</string>
		<key>phrase</key>
		<string>[无聊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2139.swf</string>
		<key>phrase</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2140.swf</string>
		<key>phrase</key>
		<string>[高兴]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2141.swf</string>
		<key>phrase</key>
		<string>[搞笑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2142.swf</string>
		<key>phrase</key>
		<string>[感动]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2143.swf</string>
		<key>phrase</key>
		<string>[顶]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2144.swf</string>
		<key>phrase</key>
		<string>[不屑]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2145.swf</string>
		<key>phrase</key>
		<string>[晒太阳]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2H9t</string>
		<key>phrase</key>
		<string>[好囧啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2WJ3</string>
		<key>phrase</key>
		<string>[砸砖头]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2RfG</string>
		<key>phrase</key>
		<string>[再想想]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://timg.sjs.sinajs.cn/t3/style/images/common/face/ext/magic/ec/youyaojiaban.swf</string>
		<key>phrase</key>
		<string>[又要加班]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2146.swf</string>
		<key>phrase</key>
		<string>[洗白白]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2H9O</string>
		<key>phrase</key>
		<string>[小心着凉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2147.swf</string>
		<key>phrase</key>
		<string>[下班回家]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2WJs</string>
		<key>phrase</key>
		<string>[我要忙了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2148.swf</string>
		<key>phrase</key>
		<string>[晚安]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2149.swf</string>
		<key>phrase</key>
		<string>[偷懒]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2150.swf</string>
		<key>phrase</key>
		<string>[听歌]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2WiL</string>
		<key>phrase</key>
		<string>[送花]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2151.swf</string>
		<key>phrase</key>
		<string>[生日快乐呢]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2152.swf</string>
		<key>phrase</key>
		<string>[闪人]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2153.swf</string>
		<key>phrase</key>
		<string>[热啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2154.swf</string>
		<key>phrase</key>
		<string>[潜水的出来]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2155.swf</string>
		<key>phrase</key>
		<string>[潜水]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2156.swf</string>
		<key>phrase</key>
		<string>[钱钱钱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2157.swf</string>
		<key>phrase</key>
		<string>[你就扯吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2158.swf</string>
		<key>phrase</key>
		<string>[累死了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2159.swf</string>
		<key>phrase</key>
		<string>[劳动最光荣]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2HtC</string>
		<key>phrase</key>
		<string>[懒床]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2160.swf</string>
		<key>phrase</key>
		<string>[郊游]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2161.swf</string>
		<key>phrase</key>
		<string>[好困啊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2162.swf</string>
		<key>phrase</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2163.swf</string>
		<key>phrase</key>
		<string>[搞卫生]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2164.swf</string>
		<key>phrase</key>
		<string>[感冒了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2165.swf</string>
		<key>phrase</key>
		<string>[烦死人了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>G2HtH</string>
		<key>phrase</key>
		<string>[放松]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2166.swf</string>
		<key>phrase</key>
		<string>[放假拉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2167.swf</string>
		<key>phrase</key>
		<string>[打卡]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2168.swf</string>
		<key>phrase</key>
		<string>[吃饭啦]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2169.swf</string>
		<key>phrase</key>
		<string>[报到]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2170.swf</string>
		<key>phrase</key>
		<string>[猪]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2171.swf</string>
		<key>phrase</key>
		<string>[谢谢]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2172.swf</string>
		<key>phrase</key>
		<string>[找点刺激]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2173.swf</string>
		<key>phrase</key>
		<string>[新的一天]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2174.swf</string>
		<key>phrase</key>
		<string>[早上好]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2175.swf</string>
		<key>phrase</key>
		<string>[真乖]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2176.swf</string>
		<key>phrase</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2177.swf</string>
		<key>phrase</key>
		<string>[兴奋]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2178.swf</string>
		<key>phrase</key>
		<string>[嗯嗯]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bR6v6</string>
		<key>phrase</key>
		<string>[任你处置]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2179.swf</string>
		<key>phrase</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2180.swf</string>
		<key>phrase</key>
		<string>[生日快乐]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2181.swf</string>
		<key>phrase</key>
		<string>[别理我]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2182.swf</string>
		<key>phrase</key>
		<string>[照相]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2183.swf</string>
		<key>phrase</key>
		<string>[休息一下]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2184.swf</string>
		<key>phrase</key>
		<string>[偷看]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2185.swf</string>
		<key>phrase</key>
		<string>[生日祝福]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2186.swf</string>
		<key>phrase</key>
		<string>[让你路过]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2187.swf</string>
		<key>phrase</key>
		<string>[人呢]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2188.swf</string>
		<key>phrase</key>
		<string>[你在干嘛]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2189.swf</string>
		<key>phrase</key>
		<string>[过客]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2190.swf</string>
		<key>phrase</key>
		<string>[KISS]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2191.swf</string>
		<key>phrase</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2192.swf</string>
		<key>phrase</key>
		<string>[愤怒之掷]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bR5XT</string>
		<key>phrase</key>
		<string>[赐个媳妇吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2193.swf</string>
		<key>phrase</key>
		<string>[路过]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2194.swf</string>
		<key>phrase</key>
		<string>[笑死人了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2195.swf</string>
		<key>phrase</key>
		<string>[迟到了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2196.swf</string>
		<key>phrase</key>
		<string>[我来了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2197.swf</string>
		<key>phrase</key>
		<string>[跟我走吧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2198.swf</string>
		<key>phrase</key>
		<string>[吃饭了]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2199.swf</string>
		<key>phrase</key>
		<string>[生气]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bRtCG</string>
		<key>phrase</key>
		<string>[求领养]</string>
	</dict>
</array>
</plist>
